@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SAP Test Assignment.</h1>
    <p class="lead"> I have created 2 users.<br> Admin (admin@gmail.com) and Teller (Teller@gmail.com).
    <br>Steps to Test:
    <br>1. Login as a Teller and create a user. It will redirect to the approved users.
    <br>2. Now Login as Admin and approve the created user. Once approved the teller can see the user.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

